<% layout('layout') %>

<% include ../partials/navbar %>

<div id="wrapper">
<!-- Sidebar -->
<% include ../partials/sidebar2 %>
<div id="page-content-wrapper" style="padding:0;margin-top:60px"> <!--Margin Top is new-->
    <div class="container-fluid page-content-div" style="padding:0">
       <div class="row">
          <div class="col-lg-12 scoll-possible" style="padding:0">
<!--====================================================================-->
<!--====================================================================-->
<style>
@media(max-width:768px){
.form-group{
padding:0 10px 0 10px;
}
}
</style>
<div class="align-center-all">
<div class="container">
<div class="form-horizontal col-sm-3 col-md-3 col-lg-3"></div>
<div class="form-horizontal col-sm-6 col-md-6 col-lg-6">
   <h3 class="page-header" style="color:#707070">Create Community</h3>
   

   <% if(noErrors) {%>
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">
            &times;
        </a>
        <%= success %><!-- with = SIGN we can display messages-->
    </div>
<% } %>

   <form action='/community/addCommunity' method="POST" enctype="multipart/form-data" id="form">
       <div class="form-group">
           <input class="form-control" id="username" type="text" required="" name="name" placeholder="Name" maxlength="70" >
       </div>
       <div class="form-group">
               <label style="color:#707070">Description</label>
               <textarea class="form-control" rows='10' id='description' name="description" style="overflow:hidden" ></textarea>
       </div>
       <div class="form-group ">
           <label style="color:#707070">Rule :</label>
           <input class="radio radio-inline"  type="radio" checked value="direct" name="rule"> Direct
           <input class="radio radio-inline" type="radio" value="permission"  name="rule"> Permission
       </div>
       <div class="form-group" style="display:none;">
           <input class="form-control" id="file"  name="image" type="file" />
       </div>

       <div class="form-group">
         <div class="col-xs-4 col-sm-3">
            <input type="file" name="image" />  
         </div>
         <div class="col-xs-8 col-sm-9" style="overflow: scroll;white-space: nowrap;">
           <p id="filename" style="font-size:18px;font-weight:bold;color:#707070"></p>
         </div>
       </div>

       <div class="form-group" style="display:none">
         <div class="col-xs-1 col-sm-1">
             <input type="checkbox" class="checkbox-custom" style="outline: none;" id="check" onchange="appendData()" />
         </div>
         <div class="col-xs-8 col-sm-9" style="font-weight:bold;margin-top:5px;color:#707070">
             Local Community
         </div>
       </div>

       <div class="form-group" id="dynamic">

       </div>
       <div class="form-group">
               <input class="form-control btn btn-primary" type="submit" value="Create Community" >
       </div>
   </form>
 </div>
</div>
</div>

</div>
</div>
</div> 
</div>