<!DOCTYPE html>
<html>
     <% include partials/header %> 
<body>
     <%- body -%>
     <script src="/js/notie.min.js"></script>
    <script src="/js/trumbowyg.min.js"></script>
     <script src="/js/Common.js"></script>

     <script src="/js/manageCommunity.js"></script>
     <script src="/js/invite.js"></script>
     <script src="/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
<script src="/js/pagination-Community.js"></script>
<script src="/js/pagination-login.js"></script>





     <% include partials/footer %> 
    

</body>
</html>